@import "~antd/dist/antd.less";
@import "./variables.less";

.tst {
  background-color: #cccccc;
}

// .ant-layout-sider.ant-layout-sider-dark {
//   background: rgb(0, 21, 41);
//   background: linear-gradient(
//     180deg,
//     rgba(0, 21, 41, 1) 10%,
//     rgba(24, 144, 255, 1) 100%
//   );
// }

// .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark {
//   background: unset;
// }

.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  z-index: 2;
  top: 12px;
}

.app-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.ant-layout-header {
  padding-left: 24px;
}

@media screen and (max-width: 990px) {
  .ant-layout-header {
    padding-left: 48px;
  }

  .app-content {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
  }
}

@media screen and (min-width: 990px) {
  .nav-header-bar {
    padding-right: 200px;
  }
}
